*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

/********  navbar-section   *********/
.navbar{
    padding: 20px 40px 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    background: linear-gradient(to right, rgb(3, 72, 96), rgb(15, 43, 60)); /* Red fading to transparent */
    color: white;
    transition: background-color 0.5s ease;
}
.top-head{
    text-decoration: none;
    color: white;
}
.navbar-toggle{
    display: none;
}
.navbar-links{
    display: flex;
    column-gap: 40px;
    margin-top: 10px;
}
.navbar-link a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    position: relative;
}

.navbar-link a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.5s ease; 
}
.navbar-link a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/********  side-navbar-section   *********/

.side-navbar{
    text-align: right;
    background: linear-gradient(to right, rgb(3, 72, 96), rgb(15, 43, 60)); /* Red fading to transparent */
    position: fixed;
    width: 35%;
    height: 100%;
    top: 0;
    left: 100%;
    color: white;
    transition: 0.5s;
    z-index: 4;
}

.side-navbar a{
    text-decoration: none;
    color: white;
}
.side-navbar i{
    padding: 10px;
}
.side-navbar-link{
    padding: 20px 25% 0px 0px;
}

/********  Header-section   *********/
.header-section{
    background: linear-gradient(to right, rgb(3, 72, 96), rgb(15, 43, 60)); /* Red fading to transparent */
    color: white;
    margin-top: 50px;
    padding: 50px 8%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section button{
    background-color: rgb(7, 37, 60);
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.header-section a{
    color: white;
    text-decoration: none;
}
.header-section h1{
    font-size: 3.5rem;
    font-family: Noto Serif;
}
.header-img{
    width: 400px;
}
.header-img-2{
    width: 400px;
    display: none;
}

/********  About -section   *********/

.about-section{
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.about-section h1{
    font-size: 3rem;
}

.education-section{
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.education-section h1{
    font-size: 3rem;
}
.education-section h5{
    font-size: 1.4rem;
}

/********  expertise -section   *********/
#expertise{
    margin-top: 100px;
}
.carousel-item-1{
    height: 500px;
    position: absolute;
    width: 40%;
    background: linear-gradient(to right, rgb(3, 72, 96), rgb(15, 43, 60)); /* Red fading to transparent */
    color: white;
    z-index: 1;
}
.carousel-control-prev{
    z-index: 1;
}
.carousel-item-1 h1{
    font-size: 4rem;
    padding-top: 160px;
    padding-left: 25%;
}
.carousel-item-2{
    padding: 40px 150px 40px 40px;
    height: 500px;
    width: 60%;
    margin-left: 40%;
    background-color: rgb(191, 213, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-item h1{
    font-size: 3.2rem;
}
.carousel-item i{
    font-size: 70px;
    margin-bottom: 20px;
}
.carousel-item p{
    font-size: 1.2rem;
}
.choose-section{
    margin: 50px 0px 0px 0px;
    background-color: rgb(191, 213, 219);
}

.choose-section-2{
    margin: 30px 0px 0px 0px;
    display: none;
}

/********  skills-section   *********/
.skill-section{
    width: 100%;
    height: 500px;
}
.skills{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.skills h1{
    font-size: 3rem;
}
.skill-div h3{
    font-size: 2rem;
}
.skill-div ul {
    list-style-type: none;
    padding-left: 0; 
    margin-bottom: 50px;
}
.skill-div li {
    padding-top: 10px;
}
.skill-div span {
    padding-left: 50px;
}
.skill-div ul li::before {
    content: '✔';
    color: rgb(12, 54, 72);
    margin-right: 8px;
    font-size: 18px; 
}

/********  works-section   *********/
#my-works{
    margin-top: 70px;
}
#work-section{
    background: linear-gradient(to right, rgb(3, 72, 96), rgb(15, 43, 60)); /* Red fading to transparent */
    margin-bottom: 0px;
}
.work-section{
    width: 90%;
    margin: 50px auto 0px auto;
}
.work-container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.work-section h1{
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 3rem;
    color: white;
}
.work-box {
    position: relative;
    margin-top: 0px;
    margin-bottom: 60px;
    width: 300px;
    height: 250px;
}

.work-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.layer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(2, 31, 41), rgb(2, 89, 143)); /* Red fading to transparent */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Start hidden */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition for both */
    z-index: -1;
    color: rgb(255, 255, 255);
    text-align: center;
}

.work-box:hover .layer {
    transform: translateY(0);
    opacity: 0.9;
    z-index: 1;
}

.layer h3{
    margin-top: 30px;
}
.layer p{
    font-size: 1.1rem;
    font-weight: 300;
}

/********************************   conatct-section   *********************************/
#contact-section{
    
    background-color: #012527;
}
#contact{
	width: 90%;
    margin: auto;
  }
  .contact-head{
	padding-top: 80px;
    padding-bottom: 40px;
    font-size: 3rem;
    color: white;
  }
  .contact-left{
	flex-basis: 35%;
	margin-top: 0;
  }
  
  .contact-right{
    margin-top: 80px;
    margin-bottom: 50px;
	flex-basis: 60%;
  }
  
  .contact-left p{
	margin-top: 30px;
  }
  
  .contact-left p a{
	color: #ededed;
  }
  
  .contact-left p i{
	color: #04f0fc;
	margin-right: 15px;
	font-size: 25px;
  }
  
  .social-icons{
	margin-top: 30px;
  }
  
  .social-icons a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ededed;
	display: inline-block;
	transition: transform .5s;
  }
  
  .social-icons a:hover{
	color: #04f0fc;
	transform: translateY(-5px);
  }
  

  .btn.btn2{
	display: inline-block;
	background: #0298a0;
  }

  .resume-btn{
	margin-top: 30px;
	background: #0298a0;
	color: white;
	border: #0298a0;
  }
  .resume-btn:hover{
	margin-top: 30px;
	background: #015a5f;
	border: #015a5f;
  }

  .resume-link{
	color: white;
  }
  
  .contact-right form{
	width: 100%;
  }
  
  form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	padding: 15px;
	margin: 15px 0;
	font-size: 18px;
	border-radius: 6px;
  }
  
  form .btn2{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 0px;
	cursor: pointer;
  }
  
  .copyright{
	text-align: center;
	margin-top: -100px;
  }
  
  nav .fas{
	display: none;
  }
#contact-section button{
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/********************************   media-section   *********************************/
@media screen and (max-width:1300px) {
    .header-section{
        height: 600px;
    }
}
@media screen and (max-width:1200px) {
    .header-section h1{
        font-size: 3rem;
    }
    .carousel-item-1{
        height: 420px;
    }
    .carousel-item-2{
        height: 420px;
    }
    .carousel-item i{
        font-size: 50px;
    }
    .carousel-item-1 h1{
        font-size: 3.1rem;
        padding-top: 130px;
        padding-left: 25%;
    
    }
    .carousel-item-2 p{
        font-size: 1.1rem;
    
    }
}
@media screen and (max-width:1100px) {
    .header-section h1{
        font-size: 2.5rem;
    }
    .header-section h3{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:1000px) {
    .header-img{
        width: 300px;
    }
    .about-section h1{
        font-size: 2rem;
    }
    .about-section p{
        font-size: 0.9rem;
    }
    .education-section h1{
        font-size: 2rem;
    }
    .carousel-item-1 h1{
        font-size: 3rem;
        padding-top:130px;
        padding-left: 23%;
    
    }
    .carousel-item-2{
        padding: 40px 80px 40px 40px;
    }
    .carousel-item h1{
        font-size: 3.4rem;
    }
    .carousel-item p{
        font-size: 1rem;
    }
    .skills h1{
        font-size: 2rem;
    }
    .skills h3{
        font-size: 1.4rem;
    }
    #my-works{
        margin-top: 0px;
    }
    
}
@media screen and (max-width:900px) {
    .header-section h1{
        font-size: 2rem;
    }
    .header-section h3{
        font-size: 1rem;
    }
    .carousel-item i{
        font-size: 40px;
    }
    .carousel-item-1 h1{
        padding-left: 16%;
    }
    .carousel-item-2 h2{
        font-size: 1.8rem;
    }
    .carousel-item-2 p{
        font-size: 1rem;
    }
    .carousel-control-prev{
        margin-left: -20px;
    }
}
@media screen and (max-width:800px) {
    .navbar h3{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .navbar-links{
        display: none;
    }
    .navbar-toggle{
        display: block;
        margin-top: -10px;
    }
    .header-section{
        padding: 0px 8%;
        height: 500px;
    }
    .header-img{
        width: 250px;
    }
    .about-section{
        margin-top: 40px;
    }
    .about-section h1{
        font-size: 1.7rem;
    }
    .about-section p{
        font-size: 0.8rem;
    }
    .education-section h1{
        font-size: 1.7rem;
    }
    .education-section h5{
        font-size: 1.3rem;
    }
    .education-section p{
        font-size: 0.8rem;
    }
    .choose-section-2{
        display: block;
        background: linear-gradient(to right, rgb(3, 72, 96), rgb(15, 43, 60)); /* Red fading to transparent */
        color: white;
    }
    
    .choose-section{
        display: none;
    }
    .choose-section-2 h1{
        text-align: center;
        font-size: 3rem;
        padding-top: 30px;
    }
    .choose-section-2 i{
        font-size: 70px;
    }
    .key-reason-head{
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: -30px;
    }
    .key-reason-head h2{
        font-size: 2rem;
    }
    .carousel-item-3{
        padding: 40px 80px;
        height: 400px;
        width: 100%;
        margin-left: 0;
    }
    .carousel-item-3 h1{
        margin-left: 50px;
        width: 80%;
        text-align: center;
        font-size: 2rem;
    }
    .carousel-item-3 p{
        font-size: 1.2rem;
    }
    .skills h1{
        font-size: 1.7rem;
    }
}
@media screen and (max-width:767px) {
    #my-works{
        margin-top: 300px;
    }
}
@media screen and (max-width:700px) {
    .header-section h1{
        font-size: 1.6rem;
    }
    .header-section h3{
        font-size: 0.8rem;
    }
    .header-section{
        padding: 0px 5%;
        height: 400px;
    }
    .carousel-item i{
        font-size: 50px;
    }
    
}

@media screen and (max-width:600px) {
    
    .header-img{
        display: none;
    }
    .header-section{
        padding: 0px 10%;
        height: 300px;
    }
    .header-section button{
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .about-section{
        width: 90%;
    }
    .header-img-2{
        width: 200px;
        display: block;
        float: right; 
        margin-left:30px; 
        margin-bottom: 10px;
        height: auto;
    }
    .about-section p{
        text-align: justify;
    }
    .content{
        margin-top: 20px;
    }
    .education-section{
        width: 90%;
    }
    .choose-section-2 h1{
        font-size: 2.5rem;
    }
    .key-reason-head i{
        font-size: 40px;
    }
    .key-reason-head h2{
        font-size: 1.7rem;
    }
    .key-reason-head{
        gap: 10px;
    }
    .carousel-item-3 p{
        font-size: 0.8rem;
    }
    .carousel-item-3{
        height: 300px;
    }
    .skill-div{
        font-size:1rem;
    }

}
@media screen and (max-width:450px) {
    .navbar h3{
        font-size: 1.1rem;
        font-weight: 500;
    }
    .side-navbar-links{
        font-size: 0.9rem;
        margin-right: -20px;
    }
    .header-img-2{
        width: 150px;
    }
    .about-section p{
        font-size: 0.7rem;
    }
    .education-section h5{
        font-size: 1.1rem;
    }
    .edu-para{
        display: none;
    }
    .choose-section-2 h1{
        font-size: 1.8rem;
    }
    .key-reason-head i{
        font-size: 30px;
    }
    .key-reason-head h2{
        font-size: 1.2rem;
    }
    .key-reason-head{
        gap: 10px;
    }
    .carousel-item-3 p{
        font-size: 0.7rem;
    }
    .carousel-item-3{
        padding: 40px 30px;
        height: 280px;
        margin-left: 0;
    }
    .skill-div{
        font-size: 0.8rem;
    }

    
}
@media screen and (max-width:300px) {
    .header-img-2{
        width: 200px;
        float: none; 
        margin-left:0px; 
        margin-bottom: 20px;
        height: auto;
    }
    .about-section p{
        text-align: left;
    }
    
}