*{
    top: 0;
    left: 0;
}
/********  navbar-section   *********/
.navbar{
    padding: 20px 40px 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.5);
    transition: background-color 0.5s ease;
}
.navbar.white-bg {
    background: white; /* Changes background color to white */
    color: black;
}


.navbar-toggle{
    display: none;
}
.navbar-toggle2{
    display: none;
}

.navbar-links{
    display: flex;
    column-gap: 40px;
    margin-top: 10px;
}

.navbar-link a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

/********  side-navbar-section   *********/

.side-navbar{
    text-align: left;
    background-color: rgb(7, 37, 60);
    position: fixed;
    width: 100%;
    height: 280px;
    top: -320px;
    left: 0%;
    color: white;
    transition: 0.5s;
    z-index: 1;
}

.side-navbar a{
    text-decoration: none;
    color: white;
}
.side-navbar i{
    padding: 10px;
}
.side-navbar-links{
    padding: 100px 60px;
}
.top-section{
    margin-top: 100px;
    padding: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.image-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.top-section img{
    position: absolute;
    width: 450px;  
    height: auto; 
    top: 50%;  
    left: -300px;
    transform: translateY(-50%);
    animation: slideIn 1.5s ease-in-out forwards; 
    border-radius: 10px;
}


@keyframes slideIn {
    from {
        left: -300px;
    }
    to {
        left: calc(100% - 400px); 
    }
}
.top-section-text{
    width: 150%;
}
.top-section-text p{
    font-size: 2.2rem;
}
.top-section-text h1{
    font-size: 3.8rem;
    font-weight: 700;
}

.about-section{
    margin: 30px 30px;
}
.about-section h1{
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 30px
}
.about-section p{
    font-size: 1.5rem;
}

.about-section2{
    margin: 100px 30px;
    display: flex;
    gap: 50px;
}
.about-section2 h2{
    font-size: 3rem;
    font-weight: 500;
}
.about-section2 h4{
    margin-top: 30px;
}
.about-section2 p{
    font-size: 1.2rem;
}
.education{
    width: 100%;
}
.experience{
    width: 100%;
}
#services{
    margin: 30px;
}
#services h1{
    
    font-size: 3.8rem;
    font-weight: 700;
}
.service-section{
    margin-top: 60px;
}
.service{
    width: 31%;
    background-color: aqua;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
}

#skills{
    margin: 100px 30px;
}
.skills{
    display: flex;
    margin: 30px 100px;
}
.skill1{
    width: 60%;
}
.skills ul{
    list-style: none;
}
.skills li{
    font-size: 1.2rem;
}
.skills p{
    margin-left: 30px;
}
.skills li::before{
    content: "★";
    color: rgb(211, 183, 24);
    font-size: 20px;
}
#skills h1{
    
    font-size: 3.8rem;
    font-weight: 700;
}
.contact-section{
    background-color: rgb(127, 188, 235) ;
    color: black;
    padding: 50px 5px 5px 15px;
}
.contact-section h1{
    
    font-size: 3.8rem;
    font-weight: 700;
}
.contact-section input{
    border: none;
    width: 98%;
    height: 40px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0 10px;

}
.contact-section p{
    margin: 10px 0px;
}
.contact-section input:focus{
    outline: none;
}
.contact-section textarea{
    width: 98%; 
    height: 100px; 
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 300;
}
.contact-section button{
    margin-top: 20px;
}
.cont-item{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 100px;

}
.cont-item i{
    margin-right: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}
.cont-item p{
    font-size: 1.4rem;
}
.cont-details{
    display: flex;
    align-items: center;
}
.cont-details i{
    margin-top: 0px;
}
.form-section{
    padding: 40px 30px;
    border-radius: 10px;
    width: 50%;
}
.resume-link{
    text-decoration: none;
    color: white;
}



/***************    media-section   ******************/
@media screen and (max-width:1200px) {
    .image-container {
        width: 80%;
    }
    .top-section{
        padding: 50px 10px;
    }
    .top-section-text{
        width: 120%;
    }
    .top-section-text p{
        font-size: 1.8rem;
    }
    .top-section-text h1{
        font-size: 3.5rem;
        font-weight: 700;
    }
    #services h1{
    
        font-size: 3.5rem;
    }
    #skills h1{
    
        font-size: 3.5rem;
    }
    .contact-section h1{
    
        font-size: 3.5rem;
    }
}
@media screen and (max-width:1029px) {
    .image-container {
        width: 80%;
    }
    .top-section{
        gap: 20px;
    }
    .top-section-text{
        width: 120%;
    }
    .top-section-text p{
        font-size: 1.5rem;
    }
    .top-section-text h1{
        font-size: 3.1rem;
        font-weight: 600;
    }
    .service{
        width: 47%;
    }
    #services h1{
        font-size: 3.1rem;
        font-weight: 600;
    }
    .skills{
        margin: 30px 50px;
    }
    .skill1{
        width: 60%;
    }
    #skills h1{
        font-size: 3.1rem;
    }
    .cont-item{
        width: 90%;
        gap: 50px;
    
    }
    .contact-section h1{
    
        font-size: 3.1rem;
    }
}
@media screen and (max-width:851px) {
    .navbar-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .image-container {
        width: 80%;
        height: 400px;
    }
    
    .top-section img{
        width: 400px;
    }
    .top-section-text{
        width: 120%;
    }
    .top-section-text p{
        font-size: 1.5rem;
    }
    .top-section-text h1{
        font-size: 3.1rem;
        font-weight: 600;
    }
    @keyframes slideIn {
        from {
            left: -300px;
        }
        to {
            left: calc(100% - 300px); 
        }
    }
    .about-section h1{
        font-size: 3.2rem;
        font-weight: 600;
    }
    .about-section p{
        font-size: 1.1rem;
    }
    .about-section2{
        display: block;
    }
    .experience{
        margin-top: 60px;
    }
    .skills{
        margin: 30px 20px;
    }
    .cont-item{
        gap: 10px;
    
    }
    
}
@media screen and (max-width:700px){
    .navbar{
        padding: 20px 10px;
    }
    .top-section{
        padding: 10px;
        display: block;
        text-align: center;
    }
    .image-container {
        width: 100%;
        height: 300px;
    }
    
    .top-section img{
        width: 300px;  
        height: 300px; 
        left: -200px;
        animation: slideIn 1.5s forwards; 
    }
    
    
    @keyframes slideIn {
        from {
            left: -200px;
        }
        to {
            left: 27%; 
        }
    }
    .top-section-text{
        width: 100%;
        margin-top: 20px;
    }
    .top-section-text p{
        font-size: 2.2rem;
    }
    .top-section-text h1{
        font-size: 3rem;
        font-weight: 700;
    }
    .service{
        width: 95%;
    }
    #services h1{
        font-size: 3rem;
        font-weight: 700;
    }
    #skills h1{
        font-size: 3rem;
    }
    .skills{
        display: block;
        margin: 30px 0px;
    }
    .skill1{
        width: 60%;
    }
    .skill2{
        margin-top: 50px;
    }
    .cont-item{
        display: block;
    }
    .contact-section{
        padding: 50px 20px 5px 20px;
    }
    .cont-text{
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .form-section{
        width: 100%;
    }
    .contact-section h1{
    
        font-size: 3rem;
    }
}
@media screen and (max-width:631px){
    @keyframes slideIn {
        from {
            left: -200px;
        }
        to {
            left: 25%; 
        }
    }
    .top-section-text h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    #services h1{
        font-size: 2.5rem;
        font-weight: 700;
    }
    #skills h1{
        font-size: 2.5rem;
    }
    .contact-section h1{
        margin-bottom: -30px;
        font-size: 2.5rem;
    }
    .cont-item{
        margin-top: 60px;
    }
}
@media screen and (max-width:580px){
    @keyframes slideIn {
        from {
            left: -200px;
        }
        to {
            left: 21%; 
        }
    }
    .top-section-text h1{
        font-size: 2.2rem;
        font-weight: 600;
    }
}
@media screen and (max-width:480px){
    @keyframes slideIn {
        from {
            left: -200px;
        }
        to {
            left: 27%; 
        }
    }
    .top-section-text p{
        font-size: 1.9rem;
    }
    .top-section-text h1{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .service{
        width: 100%;
    }
    .cont-item p{
        margin-left: -20px;
    }
}